html, body {
    min-height: 100%;
}

body {
    background-color: 
    //rgb(250, 228, 228) 
    //rgb(200, 200, 200)
    rgb(176, 198, 230);
}

//HEADER
#logo {
    display: flex;
    height: 150px;
    width: 100%;
}

.headerstyle {
    background-color: white;
    border-radius: 0% 0% 5% 5%;
    padding: 10px;
    margin-bottom: 10px;
}

// COLONNES
.colstyle {
    padding: 10px;
}

.whitebackground {
    background-color: white;
    padding: 10px;
}

// NAVIGATION
nav {
    width: 100%;
}

.btn-group {
    padding: 2px;
}

.socialmediablock {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.socialmediabutton {
    display: inline-block;
}

//MAIN
.main-col {
    padding-left: 5%;
    padding-right: 5%;
}

.info-link {
    position: relative;
    padding-left: 35%;
}

.card {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

// VIDEO
.responsive-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// TEXTE
h1, h2, p {
    text-align: center;
}

.main-h1 {
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
}

h2 {
    font-size: x-large;
    color: red;
}

p {
    font-size: larger;
}

// BUTTONS
.button-container {
    padding: 10px;
}

.btn-group-smallscreen {
    width: 100%;
}

.menu-btn-smallscreen {
    
}

// FOOTER
footer {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: lightgrey;
    padding: 20px;
    width: 100%;
}